<style>
  @import url('https://fonts.googleapis.com/css2?family=Bungee&family=Bungee+Shade&family=Lakki+Reddy&display=swap');
</style>

<main>

  <img id="back" src="assets/back.png" alt="">

  <div id="content">

    <ion-input id="search" type="text" placeholder="Pesquise por um número ou nome" [(ngModel)]="searchName"
      (ionChange)="onSearchChange()">
    </ion-input>

    <div id="box">

      <img id="pocke-img" [src]="pokemonImage" alt="">

      <div id="box-details" >
        <span id="number"> {{ pokemonId }} </span>
        <span id="name"> {{ pokemonName }} </span>

        <p  class="type" [ngClass]="type"  *ngFor="let type of pokemonTypes">{{ type }}</p>
      </div>



      <div id="box-buttons">
        <ion-button (click)="prevPokemon(pokemonId)">
          Anterior
        </ion-button>

        <ion-button id="open-modal">
          Detalhes
        </ion-button>

        <ion-button (click)="nextPokemon(pokemonId)">
          Próximo
        </ion-button>
      </div>

    </div>
  </div>

  <ion-content class="ion-padding">
    <ion-modal #modal trigger="open-modal">
      <ng-template>
        <ion-header>
          <ion-toolbar color="tertiary" class="ion-padding">
            <ion-title>Detalhes do {{pokemonName}}</ion-title>

            <ion-buttons slot="end">
              <ion-button color="danger" (click)="modal.dismiss()">Close</ion-button>
            </ion-buttons>

          </ion-toolbar>
        </ion-header>
        <ion-content class="ion-padding" color="secondary">

          <p>
            Descrição: {{pokemonDesc}}
          </p>

          <p>
            Habitate: {{pokemonHabitat}}
          </p>
        </ion-content>
      </ng-template>
    </ion-modal>
  </ion-content>




</main>