<style>
  @import url('https://fonts.googleapis.com/css2?family=Bungee&family=Bungee+Shade&family=Lakki+Reddy&display=swap');
</style>

<ion-content [fullscreen]="true">

  <img id="back" src="assets/back.png" alt="">

  <div id="content">

    <ion-input id="search" type="text" placeholder="Pesquise por um número ou nome" [(ngModel)]="searchName"
      (ionChange)="onSearchChange()">
    </ion-input>

    <div id="box">

      <img id="pocke-img" [src]="pokemonImage" alt="">

      <div id="box-details">
        <span id="number"> {{ pokemonId }} </span>
        <span id="name"> {{ pokemonName }} </span>
      </div>

      <div id="box-buttons">
        <button (click)="prevPokemon(pokemonId)">
          Anterior
        </button>

        <button (click)="nextPokemon(pokemonId)">
          Próximo
        </button>
      </div>

    </div>
  </div>




</ion-content>